* {
    box-sizing: border-box;
    user-select: none;
}

html body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar = Navigation Bar */

#navigation {
z-index: 10;
display: flex;
position: fixed;
align-items: center;
justify-content: space-between;
transition: .4s ease-out;
    }

    .hidden {
        display: none;
    }
    #nav-btn {
        display: none;
    }

    .logo {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    .logo::after {
        content: "Ocera";
        font-weight: bold;
        font-size: 2em;
        margin-left: -20px;
        color: white;
    }
        .logo img {
            height: 60px;
        }
    
    .nav-wrapper {
        margin-right: 20px;
    }
        .nav-wrapper ul {
            margin: 0;
            padding: 0;
        }
            .nav-wrapper ul li {
                list-style: none;
                display: inline-block;
            }
                .nav-wrapper ul li a {
                    display: inline-block;
                    padding: 10px 12px;
                    color: white;
                    text-decoration: none;
                    transition: .25s ease-out;
                }
                .nav-wrapper ul li a:hover {
                    transform: scale(1.09);
                }

@media screen and (max-width: 864px) {

    #nav-btn {
        z-index: 1;
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer;
        transition: .2s ease-in;
    }
        #nav-btn i {
            display: block;
            background-color: white;
            width: 25px;
            height: 4px;
            margin: 4px;
        }

    
    .nav-wrapper {
        opacity: 0;
        z-index: -1;
        transition: .25s ease-in;

        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
    }
        .nav-wrapper ul {
            margin: 0;
            padding: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            bottom: 0;
            margin-right: 20px;
        }
            .nav-wrapper ul li {
                list-style: none;
                display: block;
            }
                .nav-wrapper ul li a {
                    display: block;
                    padding: 10px 12px;
                    color: white;
                    text-decoration: none;
                }
                .nav-wrapper ul li:nth-child(1) a {
                    transition-delay: .2s;
                }
                .nav-wrapper ul li:nth-child(2) a {
                    transition-delay: .3s;
                }
                .nav-wrapper ul li:nth-child(3) a {
                    transition-delay: .4s;
                }
                .nav-wrapper ul li:nth-child(4) a {
                    transition-delay: .5s;
                }
                .nav-wrapper ul li:nth-child(5) a {
                    transition-delay: .6s;
                }
}

#nav:checked+#nav-btn {
    position: fixed;
    transform: rotate(225deg);
    z-index: 1000;
}

#nav:checked+#nav-btn i{
    transition: transform .25s ease-in;
}

#nav:checked+#nav-btn i:nth-child(1){
    transform: translateY(8px) rotate(180deg);
}
#nav:checked+#nav-btn i:nth-child(2){
    opacity: 0;
}
#nav:checked+#nav-btn i:nth-child(3){
    transform: translateY(-8px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    opacity: 1;
    z-index: 999;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(-10px);
}

/* End Navbar */

/* Hero Slider */

#hero-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
}
    .slider {
        display: block;
        height: 65vh;
        z-index: 1;
    }
    .slide-content {
        position: relative;
        overflow: hidden;
    }
    .slide-content img {
        width: 100%;
        margin: 0 auto;
        z-index: 1;
    }
    .slider .slide-content .caption {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        padding: 120px 40px;
        z-index: 2;
    }
    .slider .slide-content .caption p {
        width: 50%;
    }

    .fade {
        animation: fade .4s ease-in-out;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .slide-nav {
        z-index: 10;
        margin-bottom: 10px;
    }

    .dot {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        z-index: 10;
        margin: 5px 7px;
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
        transition: .3s ease-out;
        cursor: pointer;
    }

    .active, .dot:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* End Slider */

/* TOP 3 */

#best-book {
    display: flex;
    justify-content: space-around;
}
    .ocera-card {
        width: 280px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: wheat;
        margin:20px;
    }
        .book-cover {
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
        }
        .book-cover img {
            width: 100%;
        }
        .book-cover h3 {
            background-color: rgba(0, 0, 0, 0.3);
            text-align: center;
            position: absolute;
            margin: 0;
            color: white;
            padding: 20px;
            bottom: 0;
            right: 0;
            left: 0;
        }

/* End TOP 3 */

/* List Book */

#booklist {
    display: flex;
    justify-content: center;
    width: 100%;
}
#booklist > * {padding: 20px;}
    .list {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .list .list-of-book {
        height: 300px;
        overflow-y: auto;
    }   
    .list .list-of-book table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    .list-of-book table tr:nth-child(odd){
        background-color: #ddd;
    }
    .list-of-book table tr:nth-child(even){
        background-color: #999;
    }

    .info {
        display: flex;
        width: 50%;
    }

    .info .cover img {
        width: 200px;
    }

    .info .details {
        overflow-y: auto;
        background-color: azure;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

/* End List Book */

/* Lets Signup */

#lets-signup {
    display: block;
}
#lets-signup .background {
    background-image: url("img/invoker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}
.background h1 a,
.background h1 {
    padding: 100px;
    color: white;
    text-decoration: none;
}

/* End Signup */

/* Footer */

#footer {
    background-color: #121212;
    display: flex;
}
#footer > * {
    width: 30%;
    padding: 50px;
    color: white;
}

#footer h2 {
    margin: 0;
    padding: 0;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer ul li {
    list-style: none;
}

/* End Footer */

/* Copyright   */

#copyright {
    background-color: #323232;
    color: white;
    text-align: center;
    padding: 10px;
}

/* End of Copyright */

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}